<ion-view title="Group Story" hide-back-button="true" id="page15" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="height: 10px;"></div>
        <img ng-src="{{srcImage || 'img/pic1.jpg'}}" id="srcImage" width="250 " height="250" style="display: block; margin: 0 auto;" />
        <br/>
        <button class="button button-full button-positive " ng-click="takeImage() ">Take Image</button>
        <br/>
        <a href="#/page1/tab1/home" id="groupStory-button23" class=" button button-positive  button-block button-outline ">End Story</a>
        <a href="#/page1/tab1/home" id="groupStory-button24" class=" button button-positive  button-block button-outline ">Cancel</a>
    </ion-content>
</ion-view>