<ion-view title="Invite" hide-back-button="true" id="page14" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="invite2-button-bar4" class=" button-bar ">
            <a ui-sref="tabsController.invite" id="invite2-button17" class=" button button-positive  button-block ">Following</a>
            <button id="invite2-button18" class=" button button-positive  button-block ">Contacts</button>
        </div>
        <form id="invite2-form7" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 245px;"></div>
        <a ui-sref="tabsController.groupStory" id="invite2-button22" class=" button button-positive  button-block ">Start Story</a>
    </ion-content>
</ion-view>