<ion-view title="LILT Story" id="page3" style="background-color:#7B8488;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 166px;"></div>
        <a ui-sref="tabsController.singleStory" id="lILTStory-button8" style="color:#FFFFFF;" class=" button button-light  button-block button-outline ">Single Story</a>
        <a ui-sref="tabsController.invite" id="lILTStory-button9" style="color:#FFFFFF;" class=" button button-light  button-block button-outline ">Group Story</a>
    </ion-content>
</ion-view>