<ion-view title="Register" id="page9" style="background-color:#81B6DF;" class=" ">
    <ion-content padding="true" style="background: url(img/wbq1euKTzSDsfWF7U2ls_98905729.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="register-form5" class="list ">
            <ion-list id="register-list6" class=" ">
                <label class="item item-input " id="register-input13">
                    <input ng-model="vm.newEmail" type="email" placeholder="Email">
                </label>
                <label class="item item-input " id="register-input14">
                    <input ng-model="vm.newFullName" type="text" placeholder="Full Name">
                </label>
                <label class="item item-input " id="register-input10">
                    <input ng-model="vm.newUsername" type="text" placeholder="Username">
                </label>
                <label class="item item-input " id="register-input11">
                    <input ng-model="vm.newPassword" type="password" placeholder="Password">
                </label>
                <label class="item item-input " id="register-input12">
                    <input ng-model="vm.newConfirmPassword"
                    type="password" placeholder="Confirm Password">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 69px;"></div>
            <button ng-click="vm.registerUser(vm.newEmail, vm.newFullName, vm.newUsername, vm.newPassword, vm.newConfirmPassword)" id="register-button5" style="border-radius:21px 21px 21px 21px;" class=" button button-positive  button-block ">Register</button>
        </form>
    </ion-content>
</ion-view>