<ion-view title="Register" id="page9" style="background-color:#81B6DF;" class=" ">
    <ion-content padding="true" style="background: url(img/wbq1euKTzSDsfWF7U2ls_98905729.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="register-form5" class="list ">
            <ion-list id="register-list6" class=" ">
                <label class="item item-input " id="register-input13">
                    <input type="email" placeholder="Email">
                </label>
                <label class="item item-input " id="register-input14">
                    <input type="text" placeholder="Full Name">
                </label>
                <label class="item item-input " id="register-input10">
                    <input type="text" placeholder="User Name">
                </label>
                <label class="item item-input " id="register-input11">
                    <input type="password" placeholder="Password">
                </label>
                <label class="item item-input " id="register-input12">
                    <input type="password" placeholder="Retype Password">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 69px;"></div>
            <a ui-sref="tabsController.lILT_tab1" id="register-button5" style="border-radius:21px 21px 21px 21px;" class=" button button-positive  button-block ">Sign up</a>
        </form>
    </ion-content>
</ion-view>