<ion-view title="Start Page" hide-nav-bar="true" id="page7" style="background-color:#0788B4;" class=" ">
    <ion-content padding="true" style="background: url(img/u2xHImqwQ6GhLUS1ntfa_98905729.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
        <form id="startPage-form2" class="list ">
            <div class="spacer" style="width: 300px; height: 20px;"></div>
            <h1 id="startPage-heading1" style="color:#F8F5F5;font-weight:600;font-style:italic;text-align:center;" class=" ">LILT</h1>
            <div class="spacer" style="width: 300px; height: 59px;"></div>
            <label class="item item-input " id="startPage-input6">
                <input ng-model="vm.email" type="email" placeholder="Email" required>
            </label>
            <div class="spacer" style="width: 300px; height: 29px;"></div>
            <label class="item item-input " id="startPage-input4">
                <input ng-model="vm.password" type="password" placeholder="Password" required>
            </label>
        
        <button ng-click="vm.loginUser(vm.email, vm.password)" id="startPage-button2" style="color:#FFFFFF;font-size:17px;border-radius:19px 19px 19px 19px;" class=" button button-positive  button-block ">Log In</button>
        </form>
        <div class="spacer" style="width: 300px; height: 11px;"></div>
        <a ui-sref="register" id="startPage-button1" style="border-radius:25px 25px 25px 25px;" class=" button button-positive  button-block ">Register</a>
    </ion-content>
</ion-view>